body {
    background-color: black;
    background-attachment: fixed;
    background-image: url(img/background.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;
    text-align:center;
    margin:0 auto;
    color: black;
}
hr {
    width: 95%;
    border-color: black;
    background-color: black;
    height: 3px;
}
h1 {
    color: white;
}
.error {
    float:right;
}
#inside {
    text-align:left;
}

input {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
}

select {
    margin:5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .1);
}
.form-control{
    color: black;
    background-color: rgba(0, 0, 0, .1);
}
#container {
    display: inline-block;
    font-size: 1.2em;
    border-color: black;
    border-style: dashed;
    width: 25%;
    padding: 20px;
    padding-top: 0px;
    border-radius: 20px;
    vertical-align: middle;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, .9);
}